.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}

tr {
  border-bottom: 1px solid #c4c4c4;
}

th {
  font-size: 16px;
}

td {
  padding: 10px;
}

tr:hover {
  background-color: #f4f4f4;
}
